mat-form-field,
textarea {
    width: 100%;
}
mat-card {
    margin-top: 1rem;
}
div {
    margin-bottom: 1rem;
}
mat-spinner {
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}