<mat-card>
    <mat-spinner *ngIf="rotateSpinner"></mat-spinner>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!rotateSpinner">
        <mat-form-field>
            <input 
                matInput 
                type="text" 
                name="title"
                required
                [ngModel]="post?.title"
                minlength="3"
                placeholder="Post Title"
                #title="ngModel">
                @if (title.invalid) {
                    <mat-error>Please enter valid post title</mat-error>
                }
        </mat-form-field>
        <mat-form-field>
            <textarea 
                matInput 
                rows="6" 
                name="content"
                [ngModel]="post?.content"
                required
                placeholder="Post Content"
                #content="ngModel">
            </textarea>
            @if (content.invalid) {
                    <mat-error>Please enter post content</mat-error>
                }
        </mat-form-field>
        <mat-card-actions>
            <button 
                mat-raised-button 
                color="primary" 
                type="submit">
                Save Post
            </button>
        </mat-card-actions>
    </form>
</mat-card>