<mat-card>
    <mat-spinner *ngIf="rotateSpinner"></mat-spinner>
    <form [formGroup]="postForm" (submit)="onSavePost()" *ngIf="!rotateSpinner">
        <mat-form-field>
            <input 
                matInput 
                type="text"
                formControlName="title"
                placeholder="Post Title">
                @if (postForm.get('title')?.invalid) {
                    <mat-error>Please enter valid post title</mat-error>
                }
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="imagePreview" 
            *ngIf="imagePreview && imagePreview !== '' && postForm.get('image')?.valid">
            <img [src]="imagePreview" [alt]="postForm.value.title">
        </div>
        <mat-form-field>
            <textarea 
                matInput 
                rows="6"
                formControlName="content"
                required
                placeholder="Post Content">
            </textarea>
            @if (postForm.get('content')?.invalid) {
                    <mat-error>Please enter post content</mat-error>
                }
        </mat-form-field>
        <mat-card-actions>
            <button 
                mat-raised-button 
                color="primary" 
                type="submit">
                Save Post
            </button>
        </mat-card-actions>
    </form>
</mat-card>